$color-primary: #fef3a2;
.fs {
  &__button {
    background: $color-primary;
    border: $color-primary;
    box-shadow: 0px 4px 0px #c3b85e;
    border-radius: 8px;
    padding: 1em;
    width: 100%;
    font-weight: bold;
    color:#55586F;
    transition: all 0.3s ease-in;
    cursor: pointer;
    &:hover {
        background: darken($color-primary,10);
        // color:white];
    }
    &-outline {
      background: transparent;
      color: $color-primary;
      box-shadow: none;
      border: 1px solid $color-primary;
      &:hover {
        background: $color-primary;
        color: #55586F;
      }
    }
  }
}
