<nav class="fs__navbar flex">
    <div class="fs__navbar-logo">
        <img src="assets/Navbar/navbar_logo.png" class="" alt="">
    </div>
    <div class="fs__navbar-links flex">
        <app-chip [state]="'active'">
            Home
            <i class="material-icons">assessment</i>
        </app-chip>
        <app-chip >
            Properties
            <i class="material-icons">airline_seat_individual_suite</i>
        </app-chip>
        <app-chip >
            Rates
            <i class="material-icons"> local_offer</i>
        </app-chip>
        <app-chip >
            Connections
            <i class="material-icons"> autorenew</i>
        </app-chip>
        <app-chip >
            Reservations
            <i class="material-icons"> event_available</i>
        </app-chip>
        <app-chip >
           Web Builder
            <i class="material-icons"> desktop_mac</i>
        </app-chip>
    </div>

    <div>
        <p  class="fs__navbar-item">Hi, Amy! <i class="material-icons fs__navbar-icon"> settings</i></p>
    </div>
</nav>